<!--  -->
<div class="modal fade" tabindex="-1" role="dialog" id="itemsUpdateModal-{{store.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">商品データ更新</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>更新すると前回の処理は削除されます。よろしいでしょうか？</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'app_folder:settings_stores_detail' store.pk %}">{% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style='color:white; background-color:cadetblue; text-align:center;'>キャンセル</button>
                    <button type="submit" name="items_update_button" class="btn btn-secondary" style='color:white; background-color:cadetblue; text-align:center;'>更新</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--  -->
<div class="modal fade" tabindex="-1" role="dialog" id="stocksUpdateModal-{{store.pk}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">在庫データ更新</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>更新すると前回の処理は削除されます。よろしいでしょうか？</p>
            </div>
            <div class="modal-footer">
                <form method="POST" action="{% url 'app_folder:settings_stores_detail' store.pk %}">{% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style='color:white; background-color:cadetblue; text-align:center;'>キャンセル</button>
                    <button type="submit" name="stocks_update_button" class="btn btn-secondary" style='color:white; background-color:cadetblue; text-align:center;'>更新</button>
                </form>
            </div>
        </div>
    </div>
</div>