
{% extends 'base.html' %}
{% block sidemenu_contents %}

<div id="content" class="container-fluid">
  <h4>モール</h4>
  <hr class="hr_subTitle">
  <div class="row flex-xl-nowrap">
    <!-- ↓↓サイドバー↓↓ -->
    <div id="sidemenu" class="col-2 d-none d-md-block bg-light sidebar align-self-start">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="">
                <span data-feather=""></span>共通設定
              </a>
            </nav>
          </li>
          {% for mall in malls %}
          <li class="nav-item">
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="{% url 'app_folder:settings_stores_list' mall.pk %}">
                <span data-feather=""></span>{{ mall.name }}
              </a>
            </nav>
          </li>
          {% endfor %}    
        </ul>
      </div>
    </div id="sidemenu">
    <!-- ↑↑サイドバーここまで↑↑ -->
    <!-- ↓↓コンテンツ本体↓↓ -->
    <div class="col-10">
      {% block contents %}
      {% endblock %}
    </div>
    <!-- ↑↑コンテンツ本体ここまで↑↑ -->
  </div>
</div>
{% endblock %}