
{% extends 'settings/settings_stores_list.html' %}
{% block content %}

<div id="content" class="container-fluid">
  <h4>{{ store_name }}（納期管理情報）</h4>
  <hr class="hr_subTitle">
  <!-- テーブル表の定義 -->
  <table id="menu_list" width="100%" class="table table-striped table-bordered table-hover">
    <thead>
      <a class="page-link" href="{% url 'app_folder:settings_deliveries_create' store_uuid %}" style='color:white; background-color:cadetblue; text-align:center;'>新規作成</a>
    </thead>
  </table>
  <!--  -->
  <table id="menu_list" width="100%" class="table table-striped table-bordered table-hover">
    <!-- 表の列の定義-->
    <thead>
      <tr>
        <th class="text-center" width="5%">ID</th>
        <th class="text-center" width="5%">お届け目安</th>
        <th class="text-center" width="5%">お届け日数</th>
        <th class="text-center" width="5%">編集</th>
      </tr>
      {% for delivery in deliveries %}
        <tr>
          <td class="text-center">{{ delivery.delivery_id }}</td>
          <td class="text-center">{{ delivery.delivery_name }}</td>
          <td class="text-center">{{ delivery.delivery_days }}</td>
          <td class="text-center"><a class="page-link" href="{% url 'app_folder:settings_deliveries_update' store_uuid delivery.pk %}" style='color:white; background-color:cadetblue; text-align:center;'>編集</a></td>
        </tr>
      {% endfor %}
    </thead>
    <!-- ここまでが表のデータ部分の表示-->
  </table>
  <!-- ここまでがテーブル表の定義 -->
  <hr class="hr_subTitle">
  <a class="page-link" href="{% url 'app_folder:settings_stores_detail' store_uuid %}" style='color:white; background-color:cadetblue; text-align:center;'>戻る</a>
</div>

{% endblock %}